[submodule "vendor/dhall-c"]
	path = vendor/dhall-c
	url = https://github.com/jmars/dhall-c
[submodule "design"]
	path = design
	url = https://github.com/fixpoint-linux/design.git
[submodule "mfe-framework"]
	path = mfe-framework
	url = https://github.com/fixpoint-linux/mfe-framework.git
